<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resource.bibid %>
  <%= @resource.name %>
  <%= @resource.raw %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
