<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>
<p>
  <b>Bibid:</b>
  <%= @resource.bibid %>
</p>
<p>
  <b>Attachment:</b>
<%=
  if @resource.attachment
    @resource.attachment.url
  end
%>
</p>
<p>
	<b>Courses:</b>
	<ul>
    <% for course in @resource.courses %>
    <li>
    <%= link_to course.name, course_path(course) %>
  	</li>
    <% end %>
  </ul>
</p>

<p>
	<b>Authors:</b>
	<ul>
    <% for author in @resource.authors %>
    <li>
    <%= link_to author.name, author_path(author) %>
  	</li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
