<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :code %><br />
    <%= f.text_field :code %>

    <%= f.label :name %><br />
    <%= f.text_field :name %>

    <% for resource in Resource.all %>
    <div>
    <%= check_box_tag "course[resource_ids][]", resource.id, @course.resources.include?(resource) %>
    <%= resource.name %>
    </div>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
